*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration: none;
    &:active,
    &:visited,
    &:hover{
        outline: none;
    }
}

body{
    margin-top: 100px;
    min-width: 320px;
}