$blackColor : black;
$yellowColor : rgb(253, 152, 0);
$whiteColor: white;
$greyColor: lightgrey;
$darkgreyColor: grey;


$bodyFont: 'Roboto', sans-serif;
$cursiveFont: 'Lobster', cursive;
$boldFont: 'Titillium Web', sans-serif;


$media1: 705px;
$media2: 800px;
$media3: 1000px;