* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

a:active, a:visited, a:hover {
  outline: none;
}

body {
  margin-top: 100px;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  border-top: 25px solid white;
  z-index: 10;
}

.header__options--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.75em;
}

.header__options--container__menu {
  display: none;
}

.header__options--container__menu:hover, .header__options--container__menu:focus {
  cursor: pointer;
  color: grey;
}

.header__options--container__find:hover, .header__options--container__find:focus {
  cursor: pointer;
  color: grey;
}

.header__img {
  width: 75px;
  height: 75px;
  -webkit-box-shadow: 0 0 0 3px #fd9800, 0 0 0 6px black;
          box-shadow: 0 0 0 3px #fd9800, 0 0 0 6px black;
  background: black;
  border-radius: 50%;
  padding: 0.5em;
}

.header__login--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.75em;
}

.header__login--container__text {
  padding-left: 0.5em;
}

.header__login--container__text:hover, .header__login--container__text:focus {
  cursor: pointer;
  color: grey;
}

@media (min-width: 705px) {
  .header {
    height: 80px;
    border-top: 30px solid white;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__options--container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__options--container__menu {
    display: inline-block;
    padding: 0em 1.75em;
    border-right: 3px solid #fd9800;
  }
  .header__options--container__find {
    padding: 0em 1.75em;
  }
  .header__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 3em;
    width: 85px;
    height: 85px;
  }
  .header__login--container {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: auto;
    margin-right: 2em;
  }
}

.footer {
  background: lightgrey;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  padding-top: 1.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__infobtns--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
}

.footer__infobtns--container__containers {
  text-align: center;
  padding: 0 3.75em;
}

.footer__infobtns--container__containers__options {
  padding: 0.5em 0em;
}

.footer__infobtns--container__containers__options:focus, .footer__infobtns--container__containers__options:hover {
  cursor: pointer;
  color: black;
}

.footer__appdownload--text {
  margin-bottom: 0.75em;
  color: black;
  text-align: center;
}

.footer__appdownload--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__appdownload--container__btn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: black;
  color: white;
  margin: 0em 1em 1.5em 1em;
  padding: 0.25em 0em;
  width: 160px;
  border-radius: 0.25em;
  -webkit-box-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
          box-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}

.footer__appdownload--container__btn--container:focus, .footer__appdownload--container__btn--container:hover {
  cursor: pointer;
}

.footer__appdownload--container__btn--container__img {
  padding: 0em 0.25em;
}

.footer__appdownload--container__btn--container__text {
  font-size: 1.2rem;
}

.footer__socialbtns--container {
  margin-bottom: 1em;
}

.footer__socialbtns--container i {
  padding: 0em 0.25em;
}

.footer__socialbtns--container i:focus, .footer__socialbtns--container i:hover {
  color: black;
  cursor: pointer;
}

@media (min-width: 705px) {
  .footer {
    padding-top: 0.75em;
  }
  .footer__infobtns--container__containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer__infobtns--container__containers__options {
    padding: 0.5em 1em;
  }
  .footer__appdownload {
    display: none;
  }
}

@media (min-width: 800px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__infobtns--container__containers__options {
    padding: 0.5em 0.5em;
  }
}

.main__btns {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  padding: 0.5em 0em;
  width: 75%;
  background: #fd9800;
  color: white;
  margin-bottom: 0.65em;
  -webkit-transition: 300ms background ease-in;
  transition: 300ms background ease-in;
}

.main__btns:focus, .main__btns:hover {
  background: #975b00;
  cursor: pointer;
}

.main__mobile--hidden {
  display: none;
}

.main__order--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25em;
}

.main__order--container__text {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: -3px 3px 0px #fd9800, -4px 4px 0px #fd9800, -5px 5px 0px #fd9800, -6px 6px 0px black;
  margin-bottom: 0.25em;
  position: relative;
}

.main__order--container__text::after, .main__order--container__text::before {
  content: '';
  width: 25px;
  height: 25px;
  background: #fd9800;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main__order--container__text::after {
  left: -32px;
}

.main__order--container__text::before {
  right: -32px;
}

.main__delivery--container {
  background-image: url("../imgs/sandimg1.jpg");
  width: 100%;
  height: 600px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 1.25em;
}

.main__delivery--container__head--container {
  text-shadow: 0px 0px 20px black;
}

.main__delivery--container__head--container__h4 {
  font-family: "Lobster", cursive;
  color: #fd9800;
  font-size: 1.6em;
  padding-top: 1em;
}

.main__delivery--container__head--container__h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 3.75rem;
}

.main__delivery--container__footer--container {
  font-family: "Roboto", sans-serif;
  margin-top: auto;
  padding-bottom: 1em;
}

.main__delivery--container__footer--container__link {
  color: #fd9800;
  font-weight: bold;
  font-size: 1.1rem;
}

.main__delivery--container__footer--container__link:focus, .main__delivery--container__footer--container__link:hover {
  color: white;
}

.main__rewards--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto 2em auto;
}

.main__rewards--container__title--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__rewards--container__title--container__text {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem;
  color: #fd9800;
  margin-bottom: 0.35em;
}

.main__rewards--container__title--container__img {
  -webkit-transform: rotate(0.9turn);
          transform: rotate(0.9turn);
}

.main__rewards--container__content--container__text {
  position: relative;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.3rem;
  max-width: 30ch;
  margin: 0em auto;
  margin-bottom: 1.65em;
}

.main__rewards--container__content--container__text::after, .main__rewards--container__content--container__text::before {
  content: '';
  width: 25px;
  height: 25px;
  background: #fd9800;
  position: absolute;
  top: 5px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main__rewards--container__content--container__text::after {
  left: -10px;
}

.main__rewards--container__content--container__text::before {
  right: -10px;
}

.main__app--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  background: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(lightgrey), to(white));
  background-image: linear-gradient(black, lightgrey, white);
  padding-bottom: 0.5em;
}

.main__app--container__text {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  color: white;
  padding-bottom: 0.25em;
}

.main__app--container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.main__app--container__content__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 0.25em;
}

.main__app--container__content__container__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0em auto 0.75em auto;
  color: black;
  max-width: 40ch;
}

.main__options--container {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  text-align: center;
}

.main__options--container__options {
  color: white;
  border-top: 2px solid #fd9800;
  font-family: "Roboto", sans-serif;
  margin: 0em 2.5em;
  padding: 1em 0em;
}

.main__options--container__options:first-child {
  border: none;
}

.main__options--container__options:hover, .main__options--container__options:focus {
  cursor: pointer;
  color: grey;
}

.main__options--container__JS {
  color: #fd9800;
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  margin-bottom: 0.25em;
}

@media (min-width: 705px) {
  .main__btns {
    width: 175px;
  }
  .main__mobile--hidden {
    display: inline-block;
  }
  .main__desktop--hidden {
    display: none;
  }
  .main__order--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__order--container__text {
    margin: 0 0.15em 0 0;
    font-size: 2rem;
  }
  .main__order--container__text::before {
    display: none;
  }
  .main__order--container__btn {
    width: 140px;
    font-size: 1rem;
    margin: 0.25em 0.5em 0 0.5em;
    padding: 0.65em 0em;
  }
  .main__order--container__btn--pu {
    position: relative;
  }
  .main__order--container__btn--pu::before {
    content: '';
    width: 25px;
    height: 25px;
    background: #fd9800;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  .main__order--container__btn--pu::before {
    right: -2em;
  }
  .main__delivery--container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 2em;
  }
  .main__delivery--container__footer--container {
    margin: 0;
    padding: 0em 0em 1em 4em;
  }
  .main__rewards--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5em;
  }
  .main__rewards--container__title--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0.5em;
  }
  .main__rewards--container__title--container__text {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
  .main__rewards--container__content--container__text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    max-width: 30ch;
    margin-bottom: 0.15em;
  }
  .main__rewards--container__content--container__text::after, .main__rewards--container__content--container__text::before {
    display: none;
  }
  .main__app--container {
    background: black;
  }
  .main__app--container__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 95%;
  }
  .main__app--container__content__img {
    width: 45%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__app--container__content__container__text {
    color: white;
  }
  .main__options--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__options--container__options {
    margin: 1em 0em;
    padding: 0em 1.25em;
    border-top: none;
    border-left: 2px solid #fd9800;
  }
  .main__options--container__options:first-child {
    margin-left: auto;
  }
  .main__options--container__JS {
    margin-left: auto;
    padding-right: 1em;
  }
}

@media (min-width: 800px) {
  .main__order--container__text {
    font-size: 2.45rem;
  }
  .main__rewards--container__title--container__text {
    font-size: 2.75rem;
  }
  .main__options--container__options {
    font-size: 1.2rem;
    padding: 0em 1.3em;
  }
}

@media (min-width: 1000px) {
  .main__order--container__text {
    font-size: 3.5rem;
  }
  .main__order--container__btn {
    margin: 0.25em 0.75em 0 0.75em;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .main__rewards--container__title--container__text {
    font-size: 3.25rem;
  }
  .main__rewards--container__content--container__text {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }
  .main__options--container__options {
    font-size: 1.35rem;
    padding: 0em 1.75em;
  }
}
/*# sourceMappingURL=main.css.map */